#slide1,#slide2,#slide3{background-size:cover;background-position:center}
#slide1{background-image:url(../img/slide1.jpg)}
#slide2{background-image:url(../img/slide2.jpg)}
#slide3{background-image:url(../img/slide3.jpg)}
.carousel-inner {min-height:500px}

h1{font-size:36px;line-height:1.1}

.numero{font-size:60px;color:#FFF;border-radius:35px;line-height:70px;padding:0 22px;float:left;margin:0 15px 15px 0}

#infografica-1{background:url(../img/infografica-1.png) right top no-repeat;margin-top:40px;margin-bottom:40px;min-height:470px}

#ricerca{background:url(../img/infografica-2-md.png) left top no-repeat;background-size:auto;padding:30px 0}
.ricerca-button{width:250px;margin-top:70px;margin-bottom:70px}
#ricerca p{font-size:20px}
#ricerca span{font-size:30px}

#freccia{position:absolute;z-index:9;bottom:10px;left:50%;width:280px;margin-left:-140px;cursor:pointer}
#freccia img{margin:auto;display:block}
#freccia p{background-color:#FED353;color:#A60E13;padding:5px 10px;text-align:center;margin-top:10px}
#freccia2,#freccia3{cursor:pointer}

@media (min-width: 1201px) {
	#infografica-1 h1{margin-bottom:100px}
	.scopri{margin-top:130px}
	#ricerca{background:url(../img/infografica-2.png) left top no-repeat;min-height:540px}
	}

@media (max-width: 1200px) {
	#infografica-1{background-image:url(../img/infografica-1-md.png);min-height:310px}
	.scopri{margin-top:80px}
	#ricerca{min-height:500px}
	}
@media (max-width: 1070px) {
	#infografica-1{background-image:url(../img/infografica-1-sx.png)}
	.scopri{margin-top:20px}
	}
@media (max-width: 991px) {
	#infografica-1,#ricerca{background:none}
	.ricerca-button{width:250px;margin-top:20px}
	}	
	
@media (min-width: 992px) {
	#dati-ricerca{display:none}
	}	