#rendicontazione h2.blue-bg{background-color:#A2D4EB;
	padding:10px 15px;
	margin:40px 0 20px;
	float:left;
	}
	
.bigger{font-size:2em;font-weight:700}

.red-title{border-left:6px solid #A60E13;padding-left:10px;text-transform:uppercase}

@media (min-width: 1200px) {
#anno2012{background:url(../img/2011.jpg) top right no-repeat;width:100%}
	}