@font-face {
    font-family:'Klampenborg_Bold';
    src: url('Klampenborg_Bold.eot');
    src: url('Klampenborg_Bold.eot?#iefix') format('embedded-opentype'),
         url('Klampenborg_Bold.woff') format('woff'),
         url('Klampenborg_Bold.ttf') format('truetype'); 
    font-style:normal;
    font-weight:normal;
    text-rendering:optimizeLegibility}
@font-face {
    font-family:'Klampenborg_Regular';
    src: url('Klampenborg_Regular.eot');
    src: url('Klampenborg_Regular.eot?#iefix') format('embedded-opentype'),
         url('Klampenborg_Regular.woff') format('woff'),
         url('Klampenborg_Regular.ttf') format('truetype'); 
    font-style:normal;
    font-weight:normal;
    text-rendering:optimizeLegibility}

body{font-family:'Klampenborg_Regular', Verdana, Geneva, sans-serif;font-size:18px;color:#858585}

a{color:#A60E13}
a:hover,a:focus{color:#A3D2E4}

h1{font-size:50px;line-height:2}
h1,h2,h3{color:#333}

.big{font-size:1.5em}

.navbar-default{background-color:#fff;border:none}
.navbar-nav > li > a {padding:19px 10px 0 10px}
.navbar-brand{padding:10px 15px;height:121px}
.navbar-default .navbar-nav > li > a{font-size:20px;text-transform:uppercase}
.navbar-nav{background-color:#d7f1fb;margin-top:10px}

.payoff,.payoff2{color:#fff;text-transform:uppercase;float:right}
.payoff p,.payoff2 p{background-color:#fed353;line-height:35px;padding:10px 430px 10px 20px;display:inline;font-size:20px;margin-left:10px}
.payoff span,.payoff2 span{color:#A60E13;font-style:italic}
.payoff2 p{padding-right:20px}


.cf{background-color:#a60e13;color:#fff;width:380px;position:absolute;top:0;right:20px;border-radius:0 0 20px 20px;z-index:9}
.cf a{color:#fff}
.cf p{font-size:50px;line-height:1.2em}
.cf span{font-size:1.2em;font-family:'Klampenborg_Bold', Verdana, Geneva, sans-serif}

.red-button{background-color:#A60E13;color:#fff;padding:20px;border-radius:20px;text-transform:uppercase;font-size:1.8em;margin:auto;display:table;text-align:center;line-height:1}
.red-button:hover,.red-button:focus{text-decoration:none;background-color:#A3D2E4;color:#fff}

.red-button-small{background-color:#A60E13;color:#fff;padding:10px;border-radius:10px;text-transform:uppercase;font-size:1.2em;margin:auto;display:table;text-align:center}
.red-button-small:hover,.red-button-small:focus{text-decoration:none;background-color:#A3D2E4;color:#fff}
.btn-default{border:0}

.yellow{background-color:#FED353}
.red{background-color:#A60E13}
.blue{background-color:#a3d2e4}

.yellow-band{padding:30px 0;margin:20px 0;color:#404040}
.yellow-band .red-button{margin-top:20px}

#footer{background-color:#ededed;padding:20px 0 10px 0;margin-top:30px}

#loghi{margin-top:20px}
.download{display:inline-block;padding:10px 70px 10px 30px ;background:url("../img/pdf.png") no-repeat scroll 230px 20px #a60e13;float:left}

#fb p,#fb img{float:left}
#fb p{margin:0 0 0 10px}

.vcenter{display:inline-block;vertical-align:middle;float:none;margin:0 20px 20px 0}

.btn-info{color:#a60e13;padding:0;background-color:transparent;border:0}
.btn-info:hover,.btn-info:focus{background-color:transparent;text-decoration:underline;color:#A1D5ED}

@media (max-width: 1300px) {
	.payoff{display:none}
	.navbar-nav {margin:80px 0 0}
	.cf{width:530px}
	.cf p{font-size:34px;line-height:2em}
	.carousel{display:none}
	}
	
@media (max-width: 920px) {
	.navbar-nav {margin:10px 0 0}	
	}
	
@media (max-width: 880px) {
	.navbar-nav {margin:10px 0 0}	
	.navbar-nav > li > a {padding:0 7px 0}
	}
	
@media (max-width: 767px) {
	.cf{width:210px;right:70px}
	.cf p{font-size:26px;line-height:1.6em}
	.navbar-nav {margin:0}
	h1{line-height:1.2;font-size:40px}
	.nav > li{padding:15px}
	}

@media (max-width: 600px) {
	.payoff2{display:none}
	.payoff3{margin-left:15px}
	.payoff3 img{float:left;margin-right:15px}
	.payoff3 p{background-color:#fed353;text-transform:uppercase;line-height:46px;color:#A60E13;font-style:italic;float:left;padding:0 10px;margin-top:10px}
	}
	
@media (min-width: 601px) {
	.payoff3{display:none}
	}
	
@media (max-width: 430px) {
	.cf{display:none}
	.cf2{width:100%;background-color:#a60e13;color:#fff;font-size:26px;padding:0 10px}
	.cf2 a{color:#fff}
	}
	
@media (min-width: 1300px) {
	.navbar-brand{margin-top:-70px}
	.payoff2{display:none}
	.payoff3{display:none}
	}	
	
@media (min-width: 431px) {
	.cf2{display:none}
	}

/* Carousel slide speed */
.carousel-inner > .item {
  -webkit-transition: 1s ease-in-out left;
       -o-transition: 1s ease-in-out left;
          transition: 1s ease-in-out left;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 1s ease-in-out;
         -o-transition:      -o-transform 1s ease-in-out;
            transition:         transform 1s ease-in-out;
  }
}

.form-feedback p,
.contacts-feedback p{
    display: none;
}